.articleTypeColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1rem;
}

.searchType {
  margin-bottom: 0.4rem;
  margin-left: 0.5rem;
  cursor: pointer;
  padding-left: 1rem;
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  left: 1.8rem;
  bottom: 0.1rem;
}
.searchIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.searchByTypes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50vw;
}

.filterByTypes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.searchList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchHeadBy {
  margin: 1rem;
}

.refineSearch {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem;
}
.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.resultItem {
  width: 50vw;
}

@media only screen and (max-width: 600px) {
  .searchListItem{
    width: 85vw;
  }
  .searchType {
      margin-bottom: 0.2rem;
      margin-left: 0.2rem;
      padding-left: 1.2rem;
  }
  .icon{
    left: 1.6rem;
  }
  .refineSearch {
      width: 80vw;
    }
  .rowCenter {
    width: 80vw
  }
  .searchByTypes{
    width: 80vw;
  }
  .resultItem {
    width: 80vw;
  }
}